<!--Navbar Component-->
<app-navbar></app-navbar>

<!--form-->
<div class="container-fluid jumbotron jumbotron-fluid" style="background-color: white;">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
          <form>
              <h3 style="color: red;">L-Soap Survey</h3>
            <div class="form-group">
              <label for="formGroupExampleInput">First Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter First Name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Last Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Last Name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Email</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Password</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Which Brand of anti-bacterial are you using?</label>
              <br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                  value="option1">
                <label class="form-check-label" for="inlineRadio1">L-Soap</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                  value="option2">
                <label class="form-check-label" for="inlineRadio2">Dettol</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option3">
                <label class="form-check-label" for="inlineRadio3">Protex</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option3">
                <label class="form-check-label" for="inlineRadio3">Antabax</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option3">
                <label class="form-check-label" for="inlineRadio3">Others</label>
              </div>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Are you satisfied with L-Soap Products?</label>
              <br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option3">
                <label class="form-check-label" for="inlineRadio3">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                  value="option3">
                <label class="form-check-label" for="inlineRadio3">No</label>
              </div>
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Comments</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Password">
            </div>
            <button type="button" class="btn" style="background-color: red; color: white;">Submit</button>
          </form>
        </div>
        <div class="col-3">
        </div>
      </div>
    </div>
  </div>
</div>