<div class="container-fluid" style="background-color: red; color: white;">
  <div class="row">
    <div class="container-fluid">
      <div class="row" style="margin-top: 2%; ">
        <div class="col-lg-1">
            <a href="/">  L-SOAP </a>
         
        </div>
        <div class="col-lg-1">
          <a href="/products"> Products </a>
        </div>  
        <div class="col-lg-1">
          <a href=""> Health </a>
        </div><div class="col-lg-1">
          <a href="/soap"> Mission </a>
        </div>
        <div class="col-lg-1">
          <a href="/survey"> SurveyForm </a>
        </div>
        <div class="col-lg-5">

        </div>
        <div class="col-lg float-right" >
          <div class="input-group mb-3">
            <input id="searchbar" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn" type="button"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
