<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <div class="row">
        <h2 style="color: red;">Help A Child Reach 5</h2>
      </div>
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10" id="sm-icons">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
        </div>
        <div class="col-lg-1">

        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col" style="margin-top: 2%;">
          <h3 style="color: red;">YOU COULD HELP SAVE A BABY'S LIFE.</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1102" height="621" src="https://www.youtube.com/embed/VsnP_6kdtDY" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=VsnP_6kdtDY"
              allowfullscreen></iframe> -->
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-1">

    </div>
  </div>

</div>