<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/product_category/1102128.png.rendition.1960.1960.png"
        alt="">
    </div>
    <div class="col-lg-8">
      <div class="row" style="margin-top: 10%;">
        <div class="col product-title">
          title
        </div>
      </div>
      <div class="row">
        <div class="col product-desc">
          desc
        </div>
      </div>
      <div class="row" style="margin-top: 10%;">
        <div class="col-lg-6">
          <button type="button" class="btn">Price</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn"><a href=""></a> Buy now on Amazon</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/product_category/1102130.png.rendition.1960.1960.png"
        alt="">
    </div>
    <div class="col-lg-8">
      <div class="row" style="margin-top: 10%;">
        <div class="col product-title">
          title
        </div>
      </div>
      <div class="row">
        <div class="col product-desc">
          desc
        </div>
      </div>
      <div class="row" style="margin-top: 10%;">
        <div class="col-lg-6">
          <button type="button" class="btn">Price</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn"><a href=""></a> Buy now on Amazon</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/product_category/1114604.png.rendition.1960.1960.png"
        alt="">
    </div>
    <div class="col-lg-8">
      <div class="row" style="margin-top: 10%;">
        <div class="col product-title">
          title
        </div>
      </div>
      <div class="row">
        <div class="col product-desc">
          desc
        </div>
      </div>
      <div class="row" style="margin-top: 10%;">
        <div class="col-lg-6">
          <button type="button" class="btn ">Price</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn"><a href=""></a> Buy now on Amazon</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <img
        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/product_category/1102121.png.rendition.1960.1960.png"
        alt="">
    </div>
    <div class="col-lg-8">
      <div class="row" style="margin-top: 10%;">
        <div class="col product-title">
          title
        </div>
      </div>
      <div class="row">
        <div class="col product-desc">
          desc
        </div>
      </div>
      <div class="row" style="margin-top: 10%;">
        <div class="col-lg-6">
          <button type="button" class="btn">Price</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn"><a href=""></a> Buy now on Amazon</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>