<app-navbar></app-navbar>

<!-- content begins -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        <!-- slide 1 -->
        <div class="carousel-item active">
            <div class="row" style="margin-top: 5%; margin-left: 5%;">
                <div class="col-lg-5">
                    <img class="d-block w-100"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/home/3557-1105394-home-carousel-main.jpg.rendition.1960.1960.jpg"
                        alt="First slide">
                </div>
                <div id="slideshow-content" class="col-lg-7 float-none">
                    <div class="row">
                        <h2 style="margin-left: 0%;">HELP A CHILD REACH 5</h2>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 0%;">
                            Lifebuoy helps more children reach their 5th birthday testing.
                            <br> <br>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="btn" style="margin-left: 0%; padding: 0%;">
                            <button type="button" class="btn" style="background-color: red; color: white;">JOIN THE CAUSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 2 -->
        <div class="carousel-item">
            <div class="row" style="margin-top: 5%; margin-left: 5%;">
                <div class="col-lg-5">
                    <img class="d-block w-100"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/home/3557-1102380-home-carousel-main.png.rendition.1960.1960.png"
                        alt="Second slide">
                </div>
                <div id="slideshow-content" class="col-lg-7 float-none">
                    <div class="row">
                        <h2 style="margin-left: 0%;">HELP A CHILD REACH 5</h2>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <h6 style="margin-left: 0%;">
                            Lifebuoy helps more children reach their 5th birthday testing.
                            <br> <br>
                        </h6>
                    </div>
                    <div class="row">
                        <div class="btn" style="margin-left: 0%; padding: 0%;">
                            <button type="button" class="btn" style="background-color: red; color: white;"><a href="/soap"></a> JOIN THE CAUSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Social Component -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <div class="row">
                <h3 style="color: red;">Social</h3>
            </div>
            <div class="row">
                <p>Lifebuoy is on a mission. A lifesaving mission to spread the importance of good handwashing habits
                    around the
                    world. <a href="" style="color: red;">Find out about our projects+</a> </p>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <div class="card-deck">
                <div class="card" style="border-end-end-radius: 50%;">
                    <img class="card-img-top"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/home/3557-1102145-Teaser-2.png.rendition.1960.1960.png"
                        alt="Card image cap">
                    <div class="card-body" style="background-color: red; color: white;">
                        <h5 class="card-title">Help A Child Reach 5</h5>
                        <p class="card-text">Every year, 1.7 million children die</p>
                    </div>
                </div>
                <div class="card" style="border-end-end-radius: 50%;">
                    <img class="card-img-top"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/3557-1102359-Saudi-Arebia.jpg.rendition.1960.1960.jpg"
                        alt="Card image cap">
                    <div class="card-body" style="background-color: red; color: white;">
                        <h5 class="card-title">Yousef Al-Jarrah kicks off Lifebuoy’s handwashing programme</h5>
                        <p class="card-text">Lifebuoy is partnering with Saudi Arabian celebrity Yousef Al-Jarrah to
                            kick off its schools programme</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>

<!-- Health Component -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <div class="row">
                <h3 style="color: red;">Health</h3>
            </div>
            <div class="row">
                <p>Stay up to date on health matters, because knowledge is the best defence. <a href=""
                        style="color: red;">Visit our article library+</a> </p>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
            <div class="card-deck">
                <div class="card" style="border-end-end-radius: 50%;">
                    <img class="card-img-top"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/3557-1102394-Teaser-5.png.rendition.1960.1960.png"
                        alt="Card image cap">
                    <div class="card-body" style="background-color: red; color: white;">
                        <h5 class="card-title">How to Prevent and Treat Winter Infections</h5>
                        <p class="card-text">Expert answers your questions...</p>
                    </div>
                </div>
                <div class="card" style="border-end-end-radius: 50%;">
                    <img class="card-img-top"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/3557-1102293-Teaser-6.png.rendition.1960.1960.png"
                        alt="Card image cap">
                    <div class="card-body" style="background-color: red; color: white;">
                        <h5 class="card-title">Top Health and Hygiene Tips for Monsoon Season</h5>
                        <p class="card-text">Did you know common infections...</p>
                    </div>
                </div>
                <div class="card" style="border-end-end-radius: 50%;">
                    <img class="card-img-top"
                        src="https://www.lifebuoy.in/sk-eu/content/dam/brands/lifebuoy/3557-1127980-infections_article-h1n1.jpg.rendition.1960.1960.jpg"
                        alt="Card image cap">
                    <div class="card-body" style="background-color: red; color: white;">
                        <h5 class="card-title">H1N1 Lifebuoy</h5>
                        <p class="card-text">H1N1 is the very clinical sounding name of Swine Flu...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>


